# Turso LibSQL Database
TURSO_DATABASE_URL=libsql://taskly-aakashpalariya.aws-ap-south-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODkxMTIyMTYsImlkIjoiMDFhMDhmNjUtYzUwMS03OGIzLWIyNWUtMDRjYWI1M2Q4OWRlIiwia2lkIjoibHAzN0hHLXNSSFIwbzhpbVBBUmF6NXlYanlnMWhINDk4SUJVSkY1dGN3VSIsInJpZCI6ImNkZjgzOTZkLTRiYzYtNDdlNS1iYWQ3LWU5ZGNhMjZjNDVlMiJ9.N81jIfbqN379h9DMdRciSp8hl_34ZT84UrDVw8U2HHYof9sV8SG52-7CEwO_nHFEGfaXZNZgfbMW8y05v6NdBA

# Admin Authentication - whatever password is set here will be used for admin login
ADMIN_PASSWORD=Admin@Taskly2025

# Session Secret for cookie signing
SESSION_SECRET=taskly-secret-session-key-turso-2025
